#asagi {
    width: 106px;
    height: 154px;
    background-image: url(../images/asagiassets.png);
    animation: play 3s steps(6) infinite;
}

@keyframes play {
    100% {background-position-x: -614px}
}