#game {
    visibility: hidden;
}

.start{
    animation: puff-in-center 3s;
    animation-fill-mode: forwards;
}

#splash {
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    color: whitesmoke;
    text-align: center;
    padding-top: 5%;
    background-image: url(../images/splash.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-y: -80px;
    z-index: 2;
}

.kenburns {
    animation: kenburns-bottom 12s reverse both;
    animation-fill-mode: backwards;
}

#press-start {
    margin: 450px 0px;
    animation: blink-1 3s infinite both;
}

.charBtn {
    position: absolute;
    bottom: 0px;
    margin: 0 auto;
    border-radius: 30px;

}
#playerChar, #enemyChar {
    position: absolute;
    bottom: 0px;
}

#character-select {
    height: 200px;
}

.charBtn:hover {
    animation: shadow-drop-2-center 1s;
    animation-fill-mode: forwards;
}

.charBtn.select { /*must add select class to charBtn to utilize new animation */
    animation: slide-fwd-center 1s, puff-out-center 2s;
    animation-fill-mode: forwards;
}

.charBtn.deselect {
    animation: slide-top 1s;
}

#battle-stage {
    height: 120px;
}

#battleText {
    text-align: center;
}

#characterText {
    position: static;
    bottom: 0px;
    margin: 0;
}

#playerCut {
    position: absolute;
    left: 0px;
    bottom: 0px;
    z-index: 1;
}

#enemyCut {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

progress {
    position: absolute;
    top: 0px;
    visibility: hidden;
    text-align: center;
    height: 24px;
    background-color: green;
}

progress:after {
content: attr(value)'/'attr(max);
}

#playerCut.enter {
    animation: slide-in-top 1s;
    animation-fill-mode: forwards;
}

#playerCut.exit  {
    animation: slide-out-bottom 1s;
    animation-fill-mode: forwards;
}

#enemyCut.enter {
    animation: slide-in-bottom 1s;
    animation-fill-mode: forwards;
}

#enemyCut.exit {
    animation: slide-out-top 1s;
    animation-fill-mode: forwards;
}

.spawn {
    animation: slit-in-vertical 0.6s;
    animation-fill-mode: forwards;
}

#playerChar.attack {
    animation: wobble-hor-bottom 0.6s;
}

#enemyChar.attack{
    animation: shake-horizontal 0.5s;
}

.death {
    animation: puff-out-center 1s;
    animation-fill-mode: forwards;
}

#battleText1.slide {
    animation: slide-in-left 0.5s;
    animation-fill-mode: forwards;
}

#battleText2.slide {
    animation: slide-in-right 0.5s;
    animation-fill-mode: forwards;
}

.fade {
    animation: fade-out-fwd 2s;
    animation-fill-mode: forwards;
}